@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  @apply box-border m-0 font-normal;
}

body {
  @apply min-h-screen leading-relaxed font-Poppins;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease;
}

.fade-enter-from,
.fade-leave-active {
  opacity: 0;
}

.confirm-delete-modal {
  .min-w-sm {
    min-width: 400px;
  }
}
